@page "/"
@*ONE-WAY data binding início*@
<h1>@Mensagem</h1>
<h2>@Saudacao()</h2>
<button @onclick="AtualizaMensagem">Atualizar Mensagem</button>
@*ONE-WAY data binding fim *@

@*TWO-WAY data binding início*@
<h1>@Mensagem2</h1>
<input @bind="Mensagem2" />
@*TWO-WAY data binding fim*@



@code{
    @*ONE-WAY data binding inicio*@
    private string Mensagem { get; set; } = "Olá, Maurilio";

    private string Saudacao()
    {
        return "Bem vindo, ao Blazor";
    }

    private void AtualizaMensagem()
    {
        Mensagem = "Olá, Blazor, tudo bem ???";
    }
    @*ONE-WAY data binding fim*@


    @*TWO-WAY data binding início*@
    private string Mensagem2 { get; set; } = "Olá, Maurilio";
    @*TWO-WAY data binding fim*@



}
